<h1> Update ~<%= @inventory.product.name %>~ Quantity Form </h1>


<% if @inventory.errors %>
    <% @inventory.errors.full_messages.each do |message| %>
        <div><%= message %></div>
    <%end%>
<%end%>

<%= form_for @inventory do |f| %>
    <%= f.hidden_field :store_id %>
    <%= f.label :quantity, "Amount:" %>
    <%= f.number_field :quantity, in: 1.0..50.0, step: 1 %>
    <br><br>
    <%= f.submit %>
<% end %>