<h1><%= @customer.name%></h1>
<b>Current Balance: $<%= @customer.balance %></b>
<br><br>
Products Bought:
<ul>
<% @customer.purchases.each do |purchase| %>
    <li><%= purchase.product.name %> for $<%= purchase.product.price %> on <%= purchase.print_time %></li>
<% end %>

<!-- if we have duplicates, just put how many of that we've bought, rather than list twice -->