<div style="margin-left: 10px">
<h1><%= @customer.name%></h1>
<div><img src="https://www.history.com/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cg_faces:center%2Cq_auto:good%2Cw_768/MTU3OTIzNjYwNjc1Mjk1MTgy/what-drove-evel-knievel-to-keep-battering-his-bodys-featured-photo.jpg", alt="Evel Knievel, source: history.com"></div>
<b>Current Balance: $<%= @customer.balance %></b>
<br><br>
Products Bought:
<ul>
<% @customer.purchases.each do |purchase| %>
    <li><%= purchase.product.name %> for $<%= purchase.cost %> on <%= purchase.print_time %></li>
<% end %>

<!-- if we have duplicates, just put how many of that we've bought, rather than list twice -->
</div>