<!DOCTYPE html>
<html>
  <head>
    <title>Phase2Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- #see 24-authorization for more info -->
    <div class="header">
      <% if logged_in? %>
        Logged in as <%= link_to(current_user_name, customer_path(current_user)) %> -- Balance: $<%= current_user.balance %> | 

        <% if manager? %>
          <% my_store = Store.find(current_user.manager_of_store_id) %>
          Manager of <%= link_to(my_store.name, store_owner_path(my_store)) %> | 
          <!-- #this will print what store we're a manager of, if we are one -->
        <% end %>
        <%= link_to "Logout", logout_path %> | 
      <% else %>
      <%= link_to "Login", login_path %> | <%= link_to "Create New User", new_customer_path %> | 
      <% end %>
      <%= link_to "Home Page", homepage_path %>
    </div>
    <%= yield %>
  </body>
</html>
